<%- include("./head.ejs") %>
    <title>Gestión Usuarios PartsCO</title>
    <meta name="description" content="">
  </head>
  <body>
    <header>
      <section>
        <%- include("./nav.ejs") %>
      </section>
    </header>
    <%- include("../templates/TablaUsuarios.ejs") %>
                  <% results.forEach((usuarios)=>{ %>
                  <tr>
                    <td><%= usuarios.idusuario %></td>
                    <td><%= usuarios.nombre %></td>
                    <td><%= usuarios.apellido %></td>
                    <td><%= usuarios.email %></td>
                    <td><%= usuarios.rol %></td>
                    <td><%= usuarios.estado %></td>
                    <td>
                      <a href="/edit/<%= usuarios.idusuario %>" class="btn btn-outline-info"><i class="fa-solid fa-user-pen"></i></a>
                      <!-- <a href="/delete/<%= usuarios.id %>" class="btn btn-outline-danger"><i class="fa-solid fa-user-xmark"></i></i></a>      -->
                      <a onclick="confirmar(<%= usuarios.idusuario %>)" class="btn btn-outline-danger"><i class="fa-solid fa-user-xmark"></i></i></a>   
                    </td>
                  </tr>
                  <%})%>
                </tbody>
              </table>
            </div>
            <hr>
          </section>
        </div>
      </div>
    </div>
    <script>
      $(document).ready(function() {
        $('#usuarios').DataTable({
          "responsive": true,
          "language": {
                "lengthMenu": "Mostrar _MENU_ registros",
                "zeroRecords": "No se encontraron resultados",
                "info": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "infoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "infoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sSearch": "Buscar:",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast":"Último",
                    "sNext":"Siguiente",
                    "sPrevious": "Anterior"
			     },
			     "sProcessing":"Procesando...",
            }
        });
      });

      function confirmar(id){
        Swal.fire({
          title: '¿Confirma cambiar el estado del id: '+id+'?',
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#d33',
          cancelButtonColor: '#6c757d',
          confirmButtonText: 'Confirmar'
      }).then((result) => {
        if (result.isConfirmed) {
          window.location = '/delete/'+id;
        }
      })
      }
    </script>
  </body>
</html>