<%- include("./head.ejs") %>
    <title>Gestión Usuarios PartsCO</title>
    <meta name="description" content="">
  </head>
  <body>
    <header>
      <section>
        <%- include("./nav.ejs") %>
      </section>
    </header>
    <div class="container position-absolute top-50 start-50 translate-middle ">
      <div class="container shadow">
        <div class="row">
          <section class="">
            <div class="container mb-5 ">
              <h1 class="text-center mt-4">Información y gestión usuarios</h1>
              <div class="container mb-2">
                <a href="/create" id="create" name="create" class="btn btn-outline-dark mt-4"><i class="fa-solid fa-user-plus"></i> Crear usuario</a>
                <hr>
              </div>
              <table id="usuarios" class="table table-striped table-bordered text-center table-hover nowrap" style="width:100%">
                <thead>
                  <tr class="table-dark text-white">
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Email</th>
                    <th scope="col">Rol</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Acciones</th>
                  </tr>
                </thead> 
                <tbody>
                  <% results.forEach((usuarios)=>{ %>
                  <tr>
                    <td><%= usuarios.idusuario %></td>
                    <td><%= usuarios.nombre %></td>
                    <td><%= usuarios.apellido %></td>
                    <td><%= usuarios.email %></td>
                    <td><%= usuarios.rol %></td>
                    <td><%= usuarios.estado %></td>
                    <td> 
                      <a href="/edit/<%= usuarios.idusuario %>" class="btn btn-outline-info"><i class="fa-solid fa-user-pen"></i></a> 
                      <!-- <a href="/delete/<%= usuarios.id %>" class="btn btn-outline-danger"><i class="fa-solid fa-user-xmark"></i></i></a>      -->
                      <a onclick="confirmar(<%= usuarios.idusuario %>)" class="btn btn-outline-danger"><i class="fa-solid fa-user-xmark"></i></i></a>   
                    </td>
                  </tr>
                  <%})%>
                </tbody>
              </table>
            </div>
            <hr>
          </section>
        </div>
      </div>
    </div>
    <script>
      $(document).ready(function() {
        $('#usuarios').DataTable({
          "responsive": true,
          "language": {
                "lengthMenu": "Mostrar _MENU_ registros",
                "zeroRecords": "No se encontraron resultados",
                "info": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "infoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "infoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sSearch": "Buscar:",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast":"Último",
                    "sNext":"Siguiente",
                    "sPrevious": "Anterior"
			     },
			     "sProcessing":"Procesando...",
            }
        });
      });

      function confirmar(id){
        Swal.fire({
          title: '¿Confirma cambiar el estado del id: '+id+'?',
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#d33',
          cancelButtonColor: '#6c757d',
          confirmButtonText: 'Confirmar'
      }).then((result) => {
        if (result.isConfirmed) {
          window.location = '/delete/'+id;
        }
      })
      }
    </script>
  </body>
</html>