<%- include("./head.ejs") %>
    <title>PartsCO crear Partes Admin</title>
    <meta name="description" content="">
    <link href="css/signin.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">
  </head>
  <body>
    <header>
      <section>
        <%- include("./nav.ejs") %>
      </section>
    </header>
    <div>
        <div class="position-absolute top-50 start-50 translate-middle">
          <main class="form-signin text-center shadow-lg p-2 mb-5">
            <form class="row g-3" id="formLogin" action="/crearproductos" method="POST">
              <h1 class="h3 mb-3 fw-normal"><strong>Añadir parte</strong></h1>
              <input id="idarticulo" name="idarticulo" value="" hidden>
              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="position-relative">
                    <label for="nombre" class="form-label">Nombre</label>
                    <input type="text" name="nombre" class="form-control" id="nombre" value="">
                </div>
                </div>
                <div class="col-md-6 mb-4">
                  <div class="position-relative">
                      <label for="email" class="form-label">Stock</label>
                      <input type="number" name="stock" class="form-control" id="stock" value="">
                    </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="position-relative">
                      <label for="email" class="form-label">Valor</label>
                      <input type="number" name="valor" class="form-control" id="valor" value="">
                    </div>
                </div>
                <div class="col-md-6 mb-4">
                  <div class="position-relative">
                    <label for="rol" class="form-label">Estado</label>
                    <select class="form-select" name="estado" id="estado" tabindex="2">
                        <option value="disponible">Disponible</option>
                        <option value="no disponible">No disponible</option>
                      </select>
                  </div>
                </div>
              </div>
              <div class="position-relative">
                <label for="email" class="form-label">Categoria</label>
                <input type="text" name="categoria" class="form-control" id="categoria" value="">
              </div>
              <div class="position-relative">
                  <label for="email" class="form-label">Descripción</label>
                  <input type="text" name="descripcion" class="form-control" id="descripcion" value="">
                </div>
            <div class="col-12">
              <button class="w-100 btn btn-primary fw-bold" type="submit">Enviar</button>
            </div>
            </form>
              <br>
              <a href="/productos" type="button" class="w-100 btn btn-primary fw-bold">Panel Admin</a>
              <br>
              <p class="mt-1 mb-3 text-muted">&copy;Proyecto integrador PartsCO 2022-1</p>
          </main>
        </div>
      </div>
  </body>
  <% if(alert){ %>
    <script>
      Swal.fire({
        title: '<%=alertTitle%>',
        text: '<%=alertMessage%>',
        icon: '<%=alertIcon%>',
        showConfirmButton: <%=showConfirmButton%>,
        timer: <%=timer%>
      }).then(()=>{
        window.location = '/<%=ruta%>'
      })
    </script>
  <% } %>
</html>
