<%- include("./head.ejs") %>
    <title>PartsCO Gestión solicitudes Admin</title>
    <meta name="description" content="">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/theadinput.css" rel="stylesheet">
  </head>
  <body>
    <header>
      <section>
        <%- include("./nav.ejs") %>
      </section>
    </header>
    <section class="container position-absolute top-50 start-50 translate-middle">
      <h1 class="text-center">Gestión solicitudes</h1>
      <div class="container shadow">
        <section>
          <div class="container shadow-lg mb-5">
            <table id="tabla" class="table table-striped table-bordered text-center table-hover nowrap" style="width:100%">
              <thead>
                <tr class="table-dark text-white">
                  <th scope="col">ID solicitud</th>
                  <th scope="col">Fecha</th>
                  <th scope="col">Usuario</th>    
                  <th scope="col">Valor total</th>
                  <th scope="col">ID Articulo</th>
                  <th scope="col">Estado</th>
                  <th scope="col">Acciones</th>
                </tr>
              </thead>
              <tbody>
                <% results.forEach((solicitudes)=>{ %>
                <tr>
                  <td><%= solicitudes.idsolicitud %></td>
                  <td><%= solicitudes.fecha_hora %></td>
                  <td><%= solicitudes.usuarios_idusuario %></td>
                  <td><%= solicitudes.valor_total %></td>
                  <td><%= solicitudes.articulos_idarticulo %></td>
                  <td><%= solicitudes.estado_solicitud %></td>
                  <td>
                    <a onclick="estado(<%= solicitudes.idsolicitud %>)" class="btn btn-outline-success"><i class="fa-solid fa-exchange"></i></i></a>
                    <a onclick="borrar(<%= solicitudes.idsolicitud %>)" class="btn btn-outline-danger"><i class="fa-solid fa-delete-left"></i></i></a>
                  </td>
                </tr>
                <%})%>
              </tbody>
            </table>
          </div>
        </section>
      </div>
    </section>
    <script>
    
    
    $(document).ready(function () {
        // Setup - add a text input to each footer cell
        $('#tabla thead tr')
            .clone(true)
            .addClass('filters')
            .appendTo('#tabla thead');
     
        var table = $('#tabla').DataTable({
          "language": {
                    "lengthMenu": "Mostrar _MENU_ registros",
                    "zeroRecords": "No se encontraron resultados",
                    "info": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "infoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "infoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sSearch": "Busqueda general:",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast":"Último",
                        "sNext":"Siguiente",
                        "sPrevious": "Anterior"
               },
               "sProcessing":"Procesando...",
                },
            orderCellsTop: true,
            fixedHeader: true,
            initComplete: function () {
                var api = this.api();
     
                // For each column
                api
                    .columns()
                    .eq(0)
                    .each(function (colIdx) {
                        // Set the header cell to contain the input element
                        var cell = $('.filters th').eq(
                            $(api.column(colIdx).header()).index()
                        );
                        var title = $(cell).text();
                        $(cell).html('<input type="text" placeholder="' + title + '" />');
     
                        // On every keypress in this input
                        $(
                            'input',
                            $('.filters th').eq($(api.column(colIdx).header()).index())
                        )
                            .off('keyup change')
                            .on('keyup change', function (e) {
                                e.stopPropagation();
     
                                // Get the search value
                                $(this).attr('title', $(this).val());
                                var regexr = '({search})'; //$(this).parents('th').find('select').val();
     
                                var cursorPosition = this.selectionStart;
                                // Search the column for that value
                                api
                                    .column(colIdx)
                                    .search(
                                        this.value != ''
                                            ? regexr.replace('{search}', '(((' + this.value + ')))')
                                            : '',
                                        this.value != '',
                                        this.value == ''
                                    )
                                    .draw();
     
                                $(this)
                                    .focus()[0]
                                    .setSelectionRange(cursorPosition, cursorPosition);
                            });
                    });
            },
        });
    });
      
    
    
    
      function estado(id){
        Swal.fire({
          title: '¿Confirma la solicitud del producto con id: '+id+'?',
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#d33',
          cancelButtonColor: '#6c757d',
          confirmButtonText: 'Confirmar'
      }).then((result) => {
        if (result.isConfirmed) {
          window.location = '/terminar-solicitud/'+id;
        }
      })
      }


      function borrar(id){
        Swal.fire({
          title: '¿Confirma eliminar la solicitud: '+id+'?',
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#d33',
          cancelButtonColor: '#6c757d',
          confirmButtonText: 'Confirmar'
      }).then((result) => {
        if (result.isConfirmed) {
          window.location = '/eliminar-solicitud/'+id;
        }
      })
      }
    </script>
  </body>
</html>
