<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Login PartsCO</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/signin.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">
    <script type="text/javascript" src="sweetalert2@11.js"></script>
    <script type="text/javascript" src="sweetalert2.all.min.js"></script>
  </head>
  <body class="text-center">
    <div>
      <div class="position-absolute top-50 start-50 translate-middle">
        <main class="form-signin text-center shadow-lg p-3 mb-5">
          <form class="row g-3 needs-validation" novalidate id="formLogin" action="/login" method="POST">
            <h1 class="h3 mb-3 fw-normal"><strong>Entrar a PartsCO</strong></h1>
          <div class="position-relative">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" value="" required>
          </div>
          <div class="position-relative">
            <label for="password" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="password" name="password" required>
          </div>
          <div class="col-12">
            <br>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Enviar</button>
          </div>
          </form>
          <br>
            <a href="/register" type="button" class="w-100 btn btn-lg btn-primary">Registrarse</a>
            <br>
            <br>
            <p class="mt-1 mb-3 text-muted">&copy;Proyecto integrador PartsCO 2022-1</p>
        </main>
      </div>
    </div>
    <footer class="text-center text-lg-start footer position-absolute bottom-0" style="width: 100%;">
      <div id="Contacto" class="text-center text-white p-3" style="background-color: rgb(0, 0, 0)">
            &copy; 2022-1:
            <a class="text-white" href="https://github.com/SantiagoGaonaC/PartsCO">Proyecto integrador 1 | PartsCO</a>
      </div>
  </footer>

    <% if(alert){ %>
      <script>
        Swal.fire({
          title: '<%=alertTitle%>',
          text: '<%=alertMessage%>',
          icon: '<%=alertIcon%>',
          showConfirmButton: <%=showConfirmButton%>,
          timer: <%=timer%>
        }).then(()=>{
          window.location = '/<%=ruta%>'
        })
      </script>
    <% } %>
  </body>
</html>
