<%- include("./head.ejs") %>
    <meta name="description" content="">
    <link href="css/signin.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">
    <title>Editar partes</title>
  </head>
  <body class="text-center">
    
    <div>
      <div class="position-absolute top-50 start-50 translate-middle">
        <main class="form-signin text-center shadow-lg p-2 mb-5">
          <%- include("../templates/editar-temp.ejs") %>
            <br>
            <a href="/productos-empleado" type="button" class="w-100 btn btn-primary fw-bold">Panel Admin</a>
            <br>
            <p class="mt-1 mb-3 text-muted">&copy;Proyecto integrador PartsCO 2022-1</p>
        </main>
      </div>
    </div>
    <% if(alert){ %>
      <script>
        Swal.fire({
          title: '<%=alertTitle%>',
          text: '<%=alertMessage%>',
          icon: '<%=alertIcon%>',
          showConfirmButton: <%=showConfirmButton%>,
          timer: <%=timer%>
        }).then(()=>{
          window.location = '/<%=ruta%>'
        })
      </script>
    <% } %>
  </body>
</html>