<%- include("./head.ejs") %>
    <title>Historico precios PartsCO</title>
    <meta name="description" content="">
  </head>
  <body>
    <header>
      <section>
        <%- include("./nav.ejs") %>
      </section>
    </header>
    <div class="container shadow-lg mb-5 container-fluid position-absolute top-50 start-50 translate-middle">
      <div class="row">
        <section class="">
          <div class="container  mb-5">
            <h1 class="text-center mt-4"> Historial de precios</h1>
            <table id="precios" class="table table-striped table-bordered text-center table-hover nowrap" style="width:100%">
              <thead>
                <tr class="table-dark text-white">
                  <th scope="col">ID Cambio</th>
                  <th scope="col">ID x Nombre Articulo</th>
                  <th scope="col">Precio Antiguo</th>
                  <th scope="col">Precio Nuevo</th>    
                </tr>
              </thead>
              <tbody>
                <% results.forEach((historico)=>{ %>
                <tr>
                  <td><%= historico.idHPrecios %></td>
                  <td><%= historico.idarticulo %> | <%= historico.nombre %></td>
                  <td><%= historico.precio %></td>
                  <td><%= historico.valor %></td>
                </tr>
                <%})%>
              </tbody>
            </table>
          </div>
          <hr>
        </section>
      </div>
    </div>
  </body>
  <script>
    $(document).ready(function() {
      $('#precios').DataTable({
        "responsive": true,
        "language": {
              "lengthMenu": "Mostrar _MENU_ registros",
              "zeroRecords": "No se encontraron resultados",
              "info": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
              "infoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
              "infoFiltered": "(filtrado de un total de _MAX_ registros)",
              "sSearch": "Buscar:",
              "oPaginate": {
                  "sFirst": "Primero",
                  "sLast":"Último",
                  "sNext":"Siguiente",
                  "sPrevious": "Anterior"
         },
         "sProcessing":"Procesando...",
          }
      });
    });
  </script>
</html>